html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url('../img/ksp.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/*hide elements not relevant for current mode*/
.mobile_menu-button{
	position: absolute;
	top: -50px;
}
.mobile_menu-button_clicked{
	position: absolute;
	top: -50px;
}
/*container for all the elements*/
#container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
/*header and menu*/
#header{
	width: 100%;
	height: 120px;
	margin: 0 0 10px 0;
	position: relative;
	background-color: rgba(200, 200, 200, 0.5);
}
#logo{
	margin: 0 10px 0 0;
	display: inline-block;
	background-image: url('../img/logo.png');
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 0;
}
#header h1{
	display: inline-block;
	margin: 0 0 0 10px;
}
#header ul{
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
}
#header ul li{
	height: 26px;
	padding: 2px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s;
}
#header ul li:hover{
	background-color: rgba(200, 200, 200, 0.5);
	transition: 0.5s;
}
/*content*/
#content{
	position: absolute;
	left: 0;
	right: 225px;
	top: 125px;
	bottom: 45px;
	overflow: auto;
	padding: 1%;
	background-color: rgba(200, 200, 200, 0.5);
}
/*widgets*/
#sidebar{
	width: 220px;
	position: absolute;
	right: 0;
	top: 125px;
	bottom: 45px;
	right: 0;
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.5);
}
.widget{
	margin: 5px;
	background-color: rgba(200, 200, 200, 0.5);
}
#footer{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	background-color: rgba(200, 200, 200, 0.5);
}