html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#container{
	width: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	background-color: white;
	box-shadow: 0 0 20px 0px #000;
}
#header{
	width: 100%;
	height: 60px;
	background-color: rgba(3, 3, 3, 0.1);
}
#logo{
	margin: 5px 5px 0px 0px;
	background-image: url('../img/logo_medium.png');
	width: 50px;
	height: 50px;
	border: none;
	position: absolute;
	right: 0px;
}
#header h1{
	display: none;
}
.mobile_menu-button{
	width: 40px;
	height: 40px;
	cursor: pointer;
	font-size: 40px;
	color: #333;
	padding: 5px;
}
.mobile_menu-button_clicked{
	width: 40px;
	height: 40px;
	cursor: pointer;
	font-size: 40px;
	padding: 5px;
}
#header ul{
	width: 50%;
	height: 50%;
	padding: 0;
	margin: 0;
	background-color: rgba(3, 3, 3, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	z-index: -10;
}
#header ul li{
	padding: 0 0 0 5px;
	margin: 0 0 5px 0;
	display: block;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	background-color: rgba(200, 200, 200, 0.5);
}
#header ul li a{
	color: #000;
	margin: 0 5px 0 0;
	text-decoration: none;

}
#content{
	padding: 1%;
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 0;
	overflow: auto;
}
#sidebar{
	width: 50%;
	height: 50%;
	padding: 0;
	margin: 0;
	position: fixed;
	background-color: rgba(3, 3, 3, 0.1);
	left: 0;
	bottom: 0;
	z-index: -10;
	overflow-y: auto;
}
.widget{
	margin: 1px;
	padding: 2px;
	background-color: rgba(3, 3, 3, 0.1);
}