html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background-image: url('ksp.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/*hide elements not relevant for current mode*/
.mobile_menu-button{
	position: absolute;
	top: -50px;
}
.mobile_menu-button_clicked{
	position: absolute;
	top: -50px;
}
/*container for all the elements*/
#container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
/*header and menu*/
#header{
	width: 100%;
	height: 120px;
	margin: 0 0 10px 0;
	position: relative;
	background-color: rgba(200, 200, 200, 0.5);
}
#header img{
	margin: 0 10px 0 0;
	background-image: url('logo.png');
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 0;
}
#header h1{
	display: inline-block;
	margin: 0 0 0 10px;
}
.menu{
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
}
.menu-item{
	height: 26px;
	padding: 2px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	transition: 0.3s;
}
.menu-item:hover{
	background-color: rgba(200, 200, 200, 0.5);
	transition: 0.5s;
}
/*content*/
#content{
	position: absolute;
	left: 0;
	right: 225px;
	top: 125px;
	bottom: 45px;
	overflow: auto;
	padding: 1%;
	background-color: rgba(200, 200, 200, 0.5);
}
/*widgets*/
#sidebar{
	width: 220px;
	position: absolute;
	right: 0;
	top: 125px;
	bottom: 45px;
	right: 0;
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.5);
}
.widget{
	height: 100px;
	border: 2px solid #000;
	margin-bottom: 1px;
}
#footer{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	background-color: rgba(200, 200, 200, 0.5);
}